<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="http://127.0.0.1:5000/prediction" method="POST">
            <label for="abc">air_pressure_9am</label>
            <input type="text" id="air_pressure_9am" name="air_pressure_9am"><br>
            <label for="abc">air_temp_9am</label>
            <input type="text" id="air_temp_9am" name="air_temp_9am"><br>
            <label for="abc">avg_wind_direction_9am</label>
            <input type="text" id="avg_wind_direction_9am" name="avg_wind_direction_9am"><br>
            <label for="abc"> avg_wind_speed_9am</label>
            <input type="text" id="avg_wind_speed_9am" name="avg_wind_speed_9am"><br>
            <label for="abc"> max_wind_direction_9am</label>
            <input type="text" id="max_wind_direction_9am" name="max_wind_direction_9am"><br>
            <label for="abc">max_wind_speed_9am</label>
            <input type="text" id="max_wind_speed_9am" name="max_wind_speed_9am"><br>
            <label for="abc">rain_accumulation_9am</label>
            <input type="text" id="rain_accumulation_9am" name="rain_accumulation_9am"><br>
            <label for="abc">rain_duration_9am</label>
            <input type="text" id="rain_duration_9am" name="rain_duration_9am"><br>
            <label for="abc">relative_humidity_9am</label>
            <input type="text" id="relative_humidity_9am" name="relative_humidity_9am"><br>
            <input type="submit" value="submit">
        </form>
    </body>
    </html>